.claude/settings.local.json
.gitignore
*.bak/
*.bak
*.o
*.a
demo/bin/demo*
*~
*.*~
core
lib/bin/core
demo/bin/core
test/core
test/demoNative.output
test/demoGMPXX.output
test/demoWrappedNativePimpl.output
test/demoGMPPimpl.output
test/demoWrappedNative.output
test/demoGMP.output
.cproject
.project
.settings/
