.claude/settings.local.json
.gitignore
*.bak/
*.bak
*.o
demo/bin/demo*
lib/bin/*.a
*~
*.*~
core
lib/bin/core
demo/bin/core
test/core
test/demoWrappedNative.output
test/demoGMP.output
test/demoNative.output
.cproject
.project
.settings/
